version: '3.8'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: social_media
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/social_media
    ports:
      - "5001:5001"
    depends_on:
      - db

  frontend:
    build: ./frontend               
    ports:
      - "3000:80"                   
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=http://backend:5001/api  

volumes:
  pgdata: